@import "blog-media";


.blog-header {
  height: 553px;
  display: flex;
  align-items: flex-end;
  background-image: linear-gradient(
      122deg,
      hsla(197, 51%, 32%, 0.76),
      hsla(0, 0%, 6%, 0.76)
    ),
    url(../../img/blog-header-bg.png);
  background-size: cover;

  .content-padding {
    text-align: center;
    margin-bottom: 100px;
  }
}

.search-form {
  width: 450px;
  height: 35px;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;

  &:focus {
    outline: 0px;
  }
}

::-webkit-input-placeholder {

  /* Chrome/Opera/Safari */
  font-size: 16px;
  font-family: "Proxima Nova Rg";
  color: rgba(255, 255, 255, 0.302);
  line-height: 1.2;
  text-align: left;
}

::-moz-placeholder {

  /* Firefox 19+ */
  font-size: 16px;
  font-family: "Proxima Nova Rg";
  color: rgba(255, 255, 255, 0.302);
  line-height: 1.2;
  text-align: left;
}

:-ms-input-placeholder {

  /* IE 10+ */
  font-size: 16px;
  font-family: "Proxima Nova Rg";
  color: rgba(255, 255, 255, 0.302);
  line-height: 1.2;
  text-align: left;
}

:-moz-placeholder {
  
  /* Firefox 18- */
  font-size: 16px;
  font-family: "Proxima Nova Rg";
  color: rgba(255, 255, 255, 0.302);
  line-height: 1.2;
  text-align: left;
}

.blog-wrapper {
  max-width: 1316px;
  margin: 0 auto;
  padding: 36px 50px 100px 50px;
}

.filter {
  list-style: none;
  display: flex;
  padding-left: 0px;
  margin: 0px;
  flex-wrap: wrap;
  margin-bottom: 25px;

  &__item {
    margin-right: 25px;
    display: flex;
    margin-bottom: 10px;
  }

  &__label {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    padding: 16px 35px;
    font: {
      size: 18px;
      family: "Proxima Nova Rg";
    }
    color: rgb(43, 43, 43);
    line-height: 1.2;
  }

  // &__label:hover {
  //   background: linear-gradient(270deg, #3b99d5 0, #4dcbd5);
  //   color: rgb(255, 255, 255);
  //   border-color: transparent;
  // }

  & input {
    display: none;
  }
}
//style for post article
input[type="checkbox"]:checked {
  & + label {
    background: linear-gradient(270deg, #3b99d5 0, #4dcbd5);
    color: rgb(255, 255, 255);
    border-color: transparent;
  }
}

.post:hover > .post__button {
  opacity: 1;
}

.post {
  margin-bottom: 150px;

  .image__wrapper {
    position: relative;
    overflow: hidden;

    &:hover .post__img {
      transform: scale(1.1);
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
    }
  }

  &__img {
    display: block;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }

  &__theme {
    font-size: 10px;
    font-family: "HKGrotesk bold";
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;

    .post__link {
      color: rgb(142, 142, 142);
      letter-spacing: 3px;
    }
  }

  &__title {
    width: 83%;
    position: absolute;
    bottom: 55px;
    left: 8.5%;
    background-color: #fff;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 30px;
    box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.1);
  }

  &__name {
    font-size: 20px;
    font-family: "HKGrotesk bold";
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-bottom: 5px;

    .post__link {
      color: rgb(0, 0, 0);
    }
  }

  &__date {
    font-size: 11px;
    font-family: "HKGrotesk bold";
    font-weight: bold;
    text-transform: uppercase;

    .post__link {
      color: rgb(76, 201, 213);
      letter-spacing: 3px;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__button {
    opacity: 0;
    position: absolute;
    width: 175px;
    background-image: linear-gradient(
      to left,
      rgb(59, 153, 213) 0%,
      rgb(77, 203, 213) 100%
    );
    border-radius: 3px;
    bottom: 22px;
    left: 28%;
    transition: all 0.2s ease-in-out;

    .post__link {
      display: block;
      padding-left: 30px;
      padding-bottom: 17px;
      padding-top: 17px;
    }

    &-text {
      font-size: 18px;
      font-family: "Proxima Nova Rg";
      color: rgb(255, 255, 255);
      line-height: 1.2;

      &:after {
        content: url(../../img/arrow-right.png);
        position: absolute;
        right: 20px;
        top: 25%;
      }
    }
  }
}

.next-row {
  margin-top: 145px;
}

.list-wrapper {
  margin-top: 50px;
}

.list {
  margin: 0 auto;
  list-style: none;
  display: flex;
  padding: 0px;

  &__link {
    display: flex;
    text-decoration: none;
    font-size: 33px;
    font-family: "Proxima Nova Rg";
    text-transform: uppercase;
    align-self: flex-end;
    transform: scaleY(0.84);
    color: rgb(0, 0, 0);
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 41px;
    height: 41px;
    box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.1);
    margin-right: 165px;
    position: relative;

    &:last-child {
      margin-right: 0px;
    }
    // &:after {
    //   content: "";
    //   width: 20px;
    //   border: 1px solid red;
    //   position: absolute;
    //   height: 1px;;
    // }

    &_active {
      & .list__link {
        color: #fff;
      }

      background-image: -webkit-gradient(
        linear,
        right top,
        left top,
        from(rgb(59, 153, 213)),
        to(rgb(77, 203, 213))
      );
      background-image: -webkit-linear-gradient(
        right,
        rgb(59, 153, 213) 0%,
        rgb(77, 203, 213) 100%
      );
      background-image: -o-linear-gradient(
        right,
        rgb(59, 153, 213) 0%,
        rgb(77, 203, 213) 100%
      );
      background-image: linear-gradient(
        to left,
        rgb(59, 153, 213) 0%,
        rgb(77, 203, 213) 100%
      );
    }
  }

  &__line {
    position: absolute;

    &_small {
      width: 27px;
      left: 56px;
      border: 1px solid rgba(51, 51, 51, 0.2);
    }

    &_long {
      width: 60px;
      left: 130px;
      border: 1px solid rgba(51, 51, 51, 0.2);
    }

    &_text {
      font-size: 8px;
      font-family: "HKGrotesk bold";
      color: rgba(0, 0, 0, 0.7);
      text-transform: uppercase;
      line-height: 1.2;
      left: 95px;
      letter-spacing: 1px;
    }
  }
}
