@import "contact-media";

.contact {
  max-width: 725px;
  margin: 0 auto;

  &__box {
    // margin-top: 45px;
    // margin-bottom: 45px;
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.contact__header {
  height: 400px;
  display: flex;
  align-items: center;

  .header-title {
    color: rgb(51, 51, 51);
    margin-top: 25px;
    margin-bottom: 8px;
  }

  .header-text {
    color: rgb(51, 51, 51);
  }
}

.contact__field {
  margin-bottom: 5px;
  margin-left: 25px;
  width: 100%;

  .contact__input {
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgba(235, 232, 232, 0.702);
    font-size: 16px;
    font-family: "hanken_groteskregular";
    width: 100%;
    line-height: 1.75;
    padding-left: 8px;

    &:focus {
      outline: 0;
    }
  }

  .contact__textarea {
    padding-left: 8px;
    line-height: 1.75;
    width: 100%;
    height: 145px;
    resize: none;
    border: 2px solid hsla(0, 7%, 92%, 0.702);

    &:focus {
      outline: 0;
    }
  }

  ::-webkit-input-placeholder {
    
    /* Chrome/Opera/Safari */
    font-size: 16px;
    font-family: "hanken_groteskregular";
    color: rgba(127, 127, 127, 0.702);
    line-height: 1.2;
    text-align: left;
  }

  ::-moz-placeholder {

    /* Firefox 19+ */
    font-size: 16px;
    font-family: "hanken_groteskregular";
    color: rgba(127, 127, 127, 0.702);
    line-height: 1.2;
    text-align: left;
  }

  :-ms-input-placeholder {

    /* IE 10+ */
    font-size: 16px;
    font-family: "hanken_groteskregular";
    color: rgba(127, 127, 127, 0.702);
    line-height: 1.2;
    text-align: left;
  }

  :-moz-placeholder {

    /* Firefox 18- */
    font-size: 16px;
    font-family: "hanken_groteskregular";
    color: rgba(127, 127, 127, 0.702);
    line-height: 1.2;
    text-align: left;
  }
}

.contact__number {
  border-radius: 3px;
  width: 43px;
  height: 43px;
  box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  &-item {
    font-size: 33px;
    font-family: "Proxima Nova Rg";
    transform: scaleY(0.84);
    color: rgba(0, 0, 0, 0.302);
  }
}

.contact__number_active {
  .contact__number-item {
    color: rgba(0, 0, 0, 1);
  }

  + .contact__field {
    ::-webkit-input-placeholder {

      /* Chrome/Opera/Safari */
      font-size: 16px;
      font-family: "hanken_groteskregular";
      color: rgb(44, 44, 44);
      line-height: 1.2;
      text-align: left;
    }

    ::-moz-placeholder {

      /* Firefox 19+ */
      font-size: 16px;
      font-family: "hanken_groteskregular";
      color: rgb(44, 44, 44);
      line-height: 1.2;
      text-align: left;
    }

    :-ms-input-placeholder {

      /* IE 10+ */
      font-size: 16px;
      font-family: "hanken_groteskregular";
      color: rgb(44, 44, 44);
      line-height: 1.2;
      text-align: left;
    }

    :-moz-placeholder {

      /* Firefox 18- */
      font-size: 16px;
      font-family: "hanken_groteskregular";
      color: rgb(44, 44, 44);
      line-height: 1.2;
      text-align: left;
    }
  }
}

.submit__btn {
  border: none;
  font-size: 18px;
  font-family: "Proxima Nova Rg";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  border-radius: 3px;
  background-image: linear-gradient(
    270deg,
    rgb(59, 153, 213) 0%,
    rgb(77, 203, 213) 100%
  );
  background-image: -moz-linear-gradient(
    164deg,
    rgb(59, 153, 213) 0%,
    rgb(77, 203, 213) 100%
  );
  background-image: -webkit-linear-gradient(
    164deg,
    rgb(59, 153, 213) 0%,
    rgb(77, 203, 213) 100%
  );
  background-image: -ms-linear-gradient(
    164deg,
    rgb(59, 153, 213) 0%,
    rgb(77, 203, 213) 100%
  );
  width: 176px;
  height: 53px;
  margin-left: 70px;
}

.submit__text {
  font-size: 14px;
  font-family: "Proxima Nova Rg";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  margin-left: 35px;

  &-bold {
    font-weight: 700;
    margin-left: 10px;
  }
}

.progress {
  height: 5px;
  border-radius: 5px;
  background-color: rgb(85, 85, 85);
  width: 190px;

  &-bar {
    height: 5px;
    background-color: rgb(76, 201, 213);
    border-radius: 5px;
  }

  &__value {
    display: flex;
    font-size: 14px;
    font-family: "Proxima Nova Rg";
    color: rgb(51, 51, 51);
    line-height: 1.2;
  }

  &__num {
    margin-top: 12px;
    margin-bottom: 10px;
  }

  &__text {
    margin-top: 12px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;

  .form__status {
    margin-left: 230px;
  }

  .form__nav {
    display: flex;

    .form__nav-btn {
      border-radius: 3px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1);
      width: 36px;
      height: 34px;
      margin: 10px 0;
      position: relative;
    }

    .form-btn_up:before {
      content: url(../../img/arrow-btn-down.png);
      transform: rotate(180deg);
      position: absolute;
      left: calc(50% - 9px);
      top: calc(50% - 10px);
    }

    .form-btn_down:before {
      content: url(../../img/arrow-btn-down.png);
      position: absolute;
      left: calc(50% - 9px);
      top: calc(50% - 10px);
    }

    .form-btn_down {
      margin-left: 15px;
    }

    .form-btn_disabled {
      background-color: rgb(225, 225, 225);
      box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1);

      &.form-btn_up:before {
        opacity: 0.3;
      }

      &.form-btn_down:before {
        opacity: 0.3;
      }
    }
  }
}
