@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/proxima-nova/ProximaNova-Extrabld.eot");
  src: local("Proxima Nova Extrabold"),
    local("../fonts/proxima-nova/ProximaNova-Extrabld"),
    url("../fonts/proxima-nova/ProximaNova-Extrabld.eot?#iefix")
    format("embedded-opentype"),
    url("../fonts/proxima-nova/ProximaNova-Extrabld.woff") format("woff"),
    url("../fonts/proxima-nova/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/proxima-nova/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"),
    local("../fonts/proxima-nova/ProximaNova-Regular"),
    url("../fonts/proxima-nova/ProximaNova-Regular.eot?#iefix")
    format("embedded-opentype"),
    url("../fonts/proxima-nova/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/proxima-nova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/proxima-nova/ProximaNova-RegularIt.eot");
  src: local("Proxima Nova Regular Italic"),
    local("../fonts/proxima-nova/ProximaNova-RegularIt"),
    url("../fonts/proxima-nova/ProximaNova-RegularIt.eot?#iefix")
    format("embedded-opentype"),
    url("../fonts/proxima-nova/ProximaNova-RegularIt.woff") format("woff"),
    url("../fonts/proxima-nova/ProximaNova-RegularIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/proxima-nova/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"),
    local("../fonts/proxima-nova/ProximaNova-Bold"),
    url("../fonts/proxima-nova/ProximaNova-Bold.eot?#iefix")
    format("embedded-opentype"),
    url("../fonts/proxima-nova/ProximaNova-Bold.woff") format("woff"),
    url("../fonts/proxima-nova/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/proxima-nova/ProximaNova-BoldIt.eot");
  src: local("Proxima Nova Bold Italic"),
    local("../fonts/proxima-nova/ProximaNova-BoldIt"),
    url("../fonts/proxima-nova/ProximaNova-BoldIt.eot?#iefix")
    format("embedded-opentype"),
    url("../fonts/proxima-nova/ProximaNova-BoldIt.woff") format("woff"),
    url("../fonts/proxima-nova/ProximaNova-BoldIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'hanken_groteskbold';
  src: url("../fonts/hankengrotesk/hankengrotesk-bold-webfont.woff2") format("woff2"), url("../fonts/hankengrotesk/hankengrotesk-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'hanken_groteskbold_italic';
  src: url("../fonts/hankengrotesk/hankengrotesk-bolditalic-webfont.woff2") format("woff2"), url("../fonts/hankengrotesk/hankengrotesk-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'hanken_groteskitalic';
  src: url("../fonts/hankengrotesk/hankengrotesk-italic-webfont.woff2") format("woff2"), url("../fonts/hankengrotesk/hankengrotesk-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'hanken_grotesklight';
  src: url("../fonts/hankengrotesk/hankengrotesk-light-webfont.woff2") format("woff2"), url("../fonts/hankengrotesk/hankengrotesk-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'hanken_groteskmedium';
  src: url("../fonts/hankengrotesk/hankengrotesk-medium-webfont.woff2") format("woff2"), url("../fonts/hankengrotesk/hankengrotesk-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'hanken_groteskregular';
  src: url("../fonts/hankengrotesk/hankengrotesk-regular-webfont.woff2") format("woff2"), url("../fonts/hankengrotesk/hankengrotesk-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'hanken_grotesksemibold';
  src: url("../fonts/hankengrotesk/hankengrotesk-semibold-webfont.woff2") format("woff2"), url("../fonts/hankengrotesk/hankengrotesk-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

